# First uninstall opencv-python if it gets installed by dependencies
pip-autoremove
opencv-python

# Main dependencies
streamlit
opencv-contrib-python==4.7.0.72  # ✅ tested version with dnn_superres
numpy
Pillow
torch
torchvision
torchaudio
gfpgan
git+https://github.com/xinntao/Real-ESRGAN.git
streamlit_image_zoom
rembg
firebase-admin
onnxruntime==1.21.0
