pip-autoremove
opencv-python

streamlit
opencv-contrib-python==4.7.0.72
numpy==1.23.5  # ✅ very stable for OpenCV & avoids crash
Pillow
torch
torchvision
torchaudio
gfpgan
git+https://github.com/xinntao/Real-ESRGAN.git
streamlit_image_zoom
rembg
firebase-admin
onnxruntime==1.21.0
